header  {
    background-color: #00A5AF;
}

.logo   {
    max-width: 129px;
    max-height: 77px;
    padding: 20px;
}


.nav-bar     {
    background-color: #1B203D;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav a   {
    color:  white;
    text-decoration: none;
}

.heading      {
    background-color: #1B203D;
    margin: 32px 0px;
}

h1      {
    text-align: center;
    color: white;
    padding: 10px;
}

.best-sellers   {
    background-color: #00A5AF;
}

.best   {
    padding: 25px;
}

.newsletter    {
    margin: 92px 35px 30px 35px;
    text-align: center;
}

.haha   {
    margin: 30px 35px;
    text-align: center;
}

.shopgames {
    color: black;
    text-align: left;
}

.productexp {
    padding-left: 10px;
    padding-right: 10px;
}

.productpage    {
    color: #230346;
    text-align: left;
}

h3      {
    color: #00A5AF;
    text-align: left;
    padding-top: 48px;
    padding-left: 10px;
}

.row    {
    padding-bottom: 45px;
}

h4      {
    color: #230346;
    text-align: center;
}

.howto      {
    padding-left: 10px;
}

ol      {
    padding-right: 10px;
    padding-left: 10px;
}

.browse     {
    color: #00A5AF;
}

.teamphoto      {
    max-width: 275px;
    max-height: 240px;
    border: 1px solid #1B203D;
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.information    {
    background-color: #1B203D;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.en     {
    font-size: 24px;
    margin-top: 48px;
}

.to     {
    font-size: 18px;
    margin-top: 48px;
}

.tre    {
    font-size: 14px;
    margin-top: 48px;
}

.bgames     {
    background-color: #1B203D;
    color: #00A5AF;
}

.directors  {
    text-decoration: none;
    color: #00A5AF;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}

footer      {
    border-top: 1px solid #1B203D;
    margin-top: 48px;
    padding: 15px 10px;
}

