header  {
    background-color: #00A5AF;
}

.logo   {
    max-width: 129px;
    max-height: 77px;
    padding: 20px;
}


.nav-bar     {
    background-color: #1B203D;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

nav a   {
    color:  white;
    text-decoration: none;
}

.heading      {
    background-color: #1B203D;
}

h1      {
    text-align: center;
    color: white;
    padding: 10px;
}

footer      {
    border-top: 1px solid #1B203D;
}